<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search Listings</title>

    <% include ../partials/common_styles.ejs %>

  </head>
 
  <body>

    <% include ../partials/navbar.ejs %>
 
    <div class="container">

      <div class="list-group">

        <% for(var i = 0; i < events.length; i++) {%>
        <a href="<%= "/events/" + events[i]["_id"] %>" class="list-group-item">

          <%if (events[i].activity_type) { %>
            <span class="pull-right badge" style="padding-top: 5px">
              <%= events[i].activity_type %>
            </span>
          <% } %>
          <h4 class="list-group-item-heading">"<%= events[i].title ? events[i].title : "No Title" %>"</h4>
          <span class="pull-right">
            <%= events[i].date && events[i].end_time ? events[i].date + " " + events[i].end_time : "Unspecified..." %>
          </span>
          <p class="list-group-item-text">Hosted by <%= events[i].host ? events[i].host : "Anonymous" %></p>

        </a>
        <% } %>

        <%if (events.length === 0) { %>
        <li class="list-group-item">No entries for this search...</li>
        <% } %>

        <a href="/events/new" class="list-group-item">
          <p>Don't see anything you like?</p>
          <h4 class="list-group-item-heading">Create a new Event!</h4>
        </a>

      </div>

      <!-- <ul class="list-group">

        <% for(var i = 0; i < events.length; i++) {%>
          <li class="list-group-item" onclick="openEventPage('<%= events[i]["_id"] %>')">


          <%if (events[i].activity_type) { %>
            <span class="pull-right badge" style="padding-top: 5px">
              <%= events[i].activity_type %>
            </span>
          <% } %>

            <p>"<%= events[i].title ? events[i].title : "No Title" %>"</p>
            Hosted by <%= events[i].host ? events[i].host : "Anonymous" %>

            <span class="pull-right">
              <%= events[i].date && events[i].end_time ? events[i].date + " " + events[i].end_time : "Unspecified..." %>
            </span>

          </li>
        <% } %>

        <li class="list-group-item" onclick="openCreatePage()">
          <p>Don't see anything you like?</p>
          <a href="/new_event">Create Event</a>
        </li>

        <%if (events.length === 0) { %>
        <li class="list-group-item">No entries for this search...</li>
        <% } %>

      </ul> -->
    </div>
    
    <div class="container">
      <footer class="footer">
        <p>&copy; Company 2016</p>
      </footer>
    </div>

  </body>
  <script>
  // function openCreatePage () {
  //   window.location.href = ("/events/new");
  // }

  // function openEventPage (eventId) {
  //   console.log("Event ID", eventId);
  //   window.location.href = ("/event_page/" + eventId);
  // }

  // function getCoordinates () {
  //   navigator.geolocation.getCurrentPosition(function (geoObj) {
  //     console.log("Coord Setting:", geoObj);
  //     document.getElementById("locationPref").value = geoObj.coords.latitude + "::" + geoObj.coords.longitude;
  //   });
  // };
  </script>
</html>