<!DOCTYPE html>
<html>
<head>
  <title>Pick Up!</title>

  <% include ../partials/common_styles.ejs %>

  <!-- Leaflet Scripts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <!-- Leaflet End -->
  <style>
    h4 {
      font-weight: 200;
    }
    p {
      color: rgba(0,0,0,0.5);
    }
  </style>
</head>

<body>

  <% include ../partials/navbar.ejs %>

  <div class="container view-mode">

    <% if (allowEditMode) { %>
    <div class="pull-right">
      <button id="edit-btn" class="btn btn-default glyphicon glyphicon-pencil"></button>
    </div>
    <% } %>

    <h2><%= eventDetails.title ? eventDetails.title : "No Event Title..." %></h2>

    <div class="list-group">
      <span href="#" class="list-group-item">
        <p class="list-group-item-text">Host</p>
        <h4 class="list-group-item-heading">
          <%= host ? host : "Anonymous..." %>
        </h4>
      </span>

      <span href="#" class="list-group-item">
        <p class="list-group-item-text">Location</p>
        <h4 class="list-group-item-heading">
          <%= eventDetails.location_name ? eventDetails.location_name : "...er..." %>
        </h4>
      </span>

      <span href="#" class="list-group-item">
        <p class="list-group-item-text">Date</p>
        <h4 class="list-group-item-heading">
          <%= eventDetails.date ? eventDetails.date : "...right..." %>
        </h4>
      </span>

      <span href="#" class="list-group-item">
        <p class="list-group-item-text">Starting</p>
        <h4 class="list-group-item-heading">
          <%= eventDetails.start_time ? eventDetails.start_time : "...sometime..." %>
        </h4>
      </span>

      <span href="#" class="list-group-item">
        <p class="list-group-item-text">Ending</p>
        <h4 class="list-group-item-heading">
          <%= eventDetails.end_time ? eventDetails.end_time : "...eventually..." %>
        </h4>
      </span>

      <span href="#" class="list-group-item">
        <p class="list-group-item-text">Activity</p>
        <h4 class="list-group-item-heading">
          <%= eventDetails.activity_type ? eventDetails.activity_type : "...No Activity Type..." %>
        </h4>
      </span>

      <span href="#" class="list-group-item">
        <p class="list-group-item-text">Group Size</p>
        <h4 class="list-group-item-heading">
          <%= eventDetails.group_size ? eventDetails.group_size : "Open Ended!" %>
        </h4>
        <% if (allowCommit) { %>
          <button id="commit"
              class="btn btn-default pull-right"
              style="position: relative; top: -37px;"
              <%= alreadyCommitted ? "disabled" : "" %> ><%= alreadyCommitted ? "Committed!" : "Commit" %></button>
        <% } %>
      </span>
      
    </div>
      <input type="hidden" id="latitude" value="<%=eventDetails.location.coordinates[1]%>">
      <input type="hidden" id="longitude" value="<%=eventDetails.location.coordinates[0]%>">

      <a href="<%=eventDetails.url%>"><button id="open-google-maps" type="button" class="btn btn-default">Show Google Map</button></a>
      <button id="getLocation" type="button" class="btn btn-default">Where am I?</button>

  </div>


  <% if (allowEditMode) { %>

  <div class="container edit-mode" style="display: none">

    <div class="pull-right">
      <button id="cancel-btn" class="btn btn-default glyphicon glyphicon-remove"></button>
    </div>

    <h2>Edit Event Details</h2>

    <div>
      <form class="form-horizontal">

        <div class="form-group">
          <label for="search-event" class="col-sm-2 control-label">Event:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title" id="search-event" placeholder="e.g. Soccer" value="<%=eventDetails.title%>" required>
          </div>
        </div>

        <div class="form-group">
          <label for="search-host" class="col-sm-2 control-label">Host:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="host" id="search-host" placeholder="" value="<%= host %>" disabled>
          </div>
        </div>

        <div class="form-group">
          <label for="search-location" class="col-sm-2 control-label">Location:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="location_name" id="search-location" placeholder="e.g. YMCA" value="<%=eventDetails.location_name%>" required>
          </div>
        </div>

        <div style="display: none">
          <input type="text" class="form-control" name="formatted_address" id="search-location-address" value="<%=eventDetails.formatted_address%>">
          <input type="text" class="form-control" name="url" id="search-location-url" value="<%=eventDetails.url%>">
          <input type="text" class="form-control" name="longitude" id="search-location-lng" value="<%=eventDetails.location.coordinates[0]%>">
          <input type="text" class="form-control" name="latitude" id="search-location-lat" value="<%=eventDetails.location.coordinates[1]%>">
        </div>

        <div class="form-group">
          <label for="search-date" class="col-sm-2 control-label">Date:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" name="date" id="search-date" placeholder="YYYY-MM-DD" value="<%=eventDetails.date%>" required>
          </div>
        </div>

        <div class="form-group">
          <label for="search-start" class="col-sm-2 control-label">Start Time:</label>
          <div class="col-sm-10">
            <input type="time" class="form-control" name="start_time" id="search-start" placeholder="HH:MM AM" value="<%=eventDetails.start_time%>" required>
          </div>
        </div>

        <div class="form-group">
          <label for="search-end" class="col-sm-2 control-label">End Time:</label>
          <div class="col-sm-10">
            <input type="time" class="form-control" name="end_time" id="search-end" placeholder="HH:MM PM" value="<%=eventDetails.end_time%>" required>
          </div>
        </div>

        <div class="form-group">
          <label for="search-type" class="col-sm-2 control-label">Event Type:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="activity_type" id="search-type" placeholder="" value="<%=eventDetails.activity_type%>" required>
          </div>
        </div>

        <div class="form-group">
          <label for="search-size" class="col-sm-2 control-label">Group Size:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="group_size" id="search-size" placeholder="" value="<%=eventDetails.group_size%>" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="submit-form" type="submit" class="btn btn-success">Save Changes</button>
            <button id="cancel-event" class="btn btn-danger">Cancel Event</button>
          </div>
        </div>

      </form>

    </div>
  </div>

  <% } %>

  <br>

  <div class="container">
    <div id="map" style="height: 220px;">
  </div>

  <br>
  <br>
  <br>

  </div>

</body>
<script>

$(document).ready(function (){

  var latitude = localStorage.latitude || 51.505;
  var longitude = localStorage.longitude || -0.09;

  // initialize the map on the "map" div with a given center and zoom
  window.mymap = L.map('map', {
      center: [latitude, longitude],
      zoom: 13
  });

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoia2FtaWthejFrIiwiYSI6ImNpcWgyNzd2czA0bXRmeW5wdDJrdDA0b2YifQ.EhJNxc3CbcdkQMR8QdbFAA'
  }).addTo(mymap);

  // Add marker to map at current location
  window.marker1 = L.marker([latitude, longitude]);
  marker1.addTo(mymap);

  $('#open-google-maps').click(function() {
      window.location.href = $("#map-url").val(); 
  });
  
  $('form').submit(function (e) {
      e.preventDefault();
      var data = $(this).serialize();
      console.log(data);
      $.ajax({
          url: '/events/<%= eventDetails._id%>',
          data: data,
          type: 'POST',
          success: function(response) {
              console.log("Success",response);
              // window.location.href = response.url;
              $("#cancel-btn").click();
              window.alert("Changes saved!");
          },
          error: function(error) {
              console.log("Error",error);
          }
      });
  });

  $("#cancel-event").click(function(){
    window.alert("Workin' on it!");
  });

  $("#commit").click(function(){
      $.ajax({
          url: '/events/commit/<%= eventDetails._id%>',
          type: 'POST',
          success: function(response) {
              console.log("Success",response);
              alert("SUCCESS!");
          },
          error: function(error) {
              console.log("Error",error);
          }
      });
  })

  // Setup edit form toggle buttons
  $("#edit-btn").click(function() {
    $(".view-mode").css({ 'display': 'none' });
    $(".edit-mode").css({ 'display': 'block' });
  });

  $("#cancel-btn").click(function() {
    $(".view-mode").css({ 'display': 'block' });
    $(".edit-mode").css({ 'display': 'none' });
  });


});

var placeSearch, autocomplete;

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('search-location')),
      {types: []});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);

  // Bias autocomplete to nearby
  geolocate();

}

function fillInAddress() {
  console.log("fillInAddress");
  // Get the place details from the autocomplete object.
  window.place = autocomplete.getPlace();
  console.log(place);
  // var geoLocation = place.geometry.location;
  //console.log(geoLocation);
  // window.finalLatitude = geoLocation.lat();
  // window.finalLongitude = geoLocation.lng();

  $("#search-location-address").val(window.place.formatted_address);
  $("#search-location-url").val(window.place.url);
  $("#search-location-lng").val(place.geometry.location.lng());
  $("#search-location-lat").val(place.geometry.location.lat());

  marker1.setLatLng([place.geometry.location.lat(), place.geometry.location.lng()]);
  mymap.panTo([place.geometry.location.lat(), place.geometry.location.lng()]);
}    

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());

      localStorage.latitude = position.coords.latitude;
      localStorage.longitude = position.coords.longitude;
    });
  }
}

</script>
  <!-- This so that the initAutocomplete is defined when the script is loaded  -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm7WomiYWSp91pKjHzgw-Z3MA4elcqM7w&libraries=places&callback=initAutocomplete"
        async defer></script>

</html>
